{% extends "KinoskladMainBundle::layout.html.twig" %}

{% block width %}580{% endblock %}

{% block container %}
  <div class="content">
          {% for key, message in app.session.getFlashes() %}
              <div class="{{ key }}">
                  {{ message|trans({}, 'FOSUserBundle') }}
              </div>
          {% endfor %}

          {% block fos_user_content %}{% endblock fos_user_content %}
  </div>
{% endblock container %}
