{% extends "KinoskladMainBundle::form_layout.html.twig" %}
{% form_theme form "KinoskladMainBundle::form_theme.html.twig" %}

{% block title %}Create new genre{{ parent() }}{% endblock %}

{% block header %}
    <h1>New genre <small>creation</small></h1>
{% endblock header %}

{% block content %}
    <form action="{{ path('genres_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            {{ form_widget(form) }}
            <div class="actions">
                <button class="btn primary" type="submit">Create</button>
            </div>
        </fieldset>
    </form>
{% endblock content %}
